.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
}

.soundWaveContainer {
    width: 200px;
    height: 200px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.soundWave {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5px solid rgba(0, 132, 255, 0.801);
    position: absolute;
    animation: soundWaveAnimation 2s linear infinite;
}

.soundWave2 {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    border: 5px solid rgba(0, 132, 255, 0.801);
    position: absolute;
    animation: soundWaveAnimation2 2s linear infinite;
}

@keyframes soundWaveAnimation {

    0%,
    100% {
        width: 100%;
        height: 100%;
    }

    20% {
        width: 80%;
        height: 80%;
    }

    35% {
        width: 50%;
        height: 50%;
    }

    50% {
        width: 100%;
        height: 100%;
    }

    65% {
        width: 50%;
        height: 50%;
    }

    70% {
        width: 80%;
        height: 80%;
    }

    90% {
        width: 50%;
        height: 50%;
    }
}

@keyframes soundWaveAnimation2 {

    0%,
    100% {
        width: 80%;
        height: 80%;
    }

    20% {
        width: 60%;
        height: 60%;
    }

    35% {
        width: 30%;
        height: 30%;
    }

    50% {
        width: 80%;
        height: 80%;
    }

    65% {
        width: 30%;
        height: 30%;
    }

    70% {
        width: 60%;
        height: 60%;
    }

    90% {
        width: 30%;
        height: 30%;
    }
}
